---
import InterestCard from "./InterestCard.astro";
---

<link
    rel="stylesheet"
    href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
/>

<div class="w-full mb-20">
    <div class="flex justify-center mb-10">
        <div class="title text-center">
            <h1 class="text-lg sm:text-xl md:text-2xl font-bold">
                Areas of Interest
            </h1>
            <p class="font-light">
                Take a look at some of the things I love working on.
            </p>
        </div>
    </div>
    <div class="grid md:grid-cols-3 gap-4">
        <InterestCard
            title="Kitty Killa"
            description="Halucinating flies"
            icon="lnr-bubble"
        />
        <InterestCard
            title="Kitty Killa"
            description="Halucinating flies"
            icon="lnr-bubble"
        />
        <InterestCard
            title="Kitty Killa"
            description="Halucinating flies"
            icon="lnr-bubble"
        />
        <InterestCard
            title="Kitty Killa"
            description="Halucinating flies"
            icon="lnr-bubble"
        />
        <InterestCard
            title="Kitty Killa"
            description="Halucinating flies"
            icon="lnr-bubble"
        />
        <InterestCard
            title="Kitty Killa"
            description="Halucinating flies"
            icon="lnr-bubble"
        />
    </div>
</div>
