<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content  col-lg-7">
            <div class="title text-center">
                <h1 class="mb-10">Areas of Interest</h1>
                <p> Take a look at some of the things I love working on.
            </p></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <span class="lnr lnr-cloud-check"></span>
                <a><h4>Cloud Compute</h4></a>
                <p>
                        I utilize AWS to develop and productionize machine learning systems.
                </p>
            </div>
        </div>



        <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <span class="lnr lnr-bubble"></span>
                <a><h4>NLP</h4></a>
                <p>
                    I apply text analytics to some of the hardest questions in business.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <span class="lnr lnr-graduation-hat"></span>
                <a><h4>Machine Learning</h4></a>
                <p>
                    I am passionate about learning the theory that is pushing the cutting edge of ML.
                </p>
            </div>
        </div>


        <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <span class="lnr lnr-layers"></span>
                <a><h4>Parallel Computing</h4></a>
                <p>
                    HIVE, Hadoop, and Spark, Oh my!
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <span class="lnr lnr-laptop-phone"></span>
                <a><h4>Collaboration</h4></a>
                <p>
                    I enjoy working with my team to create winning strategies.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <span class="lnr lnr-chart-bars"></span>
                <a><h4>Data Analytics</h4></a>
                <p>
                    I love telling a story. Getting to the heart of a problem and coming up with a solution.
                </p>
            </div>
        </div>
    </div>
</div>