---
export interface Props {
  title: string;
  description: string;
  icon: string;
}

const {title, description, icon} = Astro.props as Props;
---

<div class="card bg-clip-text group hover:text-transparent hover:bg-gradient-to-r from-primary-focus to-secondary">
  <div class="card-body flex-row pl-0">
    <span class={`lnr ${icon} text-2xl`}></span>
      <div>
    <h4 class="font-bold text-lg">{title}</h4>
    <p class="font-light opacity-70 group-hover:text-primary "> {description} </p>
      </div>
  </div>
</div>
