---
import InterestCard from "./InterestCard.astro";
---

<link
    rel="stylesheet"
    href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
/>

<div class="w-full mb-10">
    <div class="flex justify-left mb-1">
        <div class="title text-left">
            <h1 class="text-3xl sm:text-3xl md:text-3xl mb-1 font-bold">
                Areas of Interest
            </h1>
            <!-- <p class="font-light">
                Take a look at some of the things I love working on
            </p> -->
        </div>
    </div>
    <div class="grid md:grid-cols-3 gap-4">
        <InterestCard
            title="Cloud Compute"
            description="I utilize AWS to develop and productionize machine learning systems."
            icon="lnr-cloud-check"
        />
        <InterestCard
            title="NLP"
            description="I apply text analytics to some of the hardest questions in business."
            icon="lnr-bubble"
        />
        <InterestCard
            title="Data Analytics"
            description="I love getting to the heart of a problem and coming up with a solution."
            icon="lnr-chart-bars"
        />
        <InterestCard
            title="Collabaration"
            description="I enjoy working with a team to create strategies."
            icon="lnr-users"
        />
        <InterestCard
            title="Machine Learning"
            description="I'm passionate about the foundations of modern ML"
            icon="lnr-laptop-phone"
        />
        <InterestCard
            title="Visualization"
            description="I strive to create meaningful representations of data."
            icon="lnr-pie-chart"
        />
    </div>
</div>
