---
export interface Props {
  title: string;
  level: number;
}

const {title, level} = Astro.props as Props;
const length = ['','w-1/5', 'w-2/5',  'w-3/5', 'w-4/5', 'w-full'];
---

<div class="w-full mb-2">
  <div class="opacity-80 text-sm">{title} - {level}</div>
  <div class="rounded-full w-full bg-base-200 h-4 relative border-base-300 border-[2px]">
    <div class={`rounded-full ${length[level]} bg-gradient-to-r from-primary-focus to-secondary h-3 absolute`}>
    </div>
  </div>
</div>

